<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('styles.html') %>
    <title>Document</title>
</head>
<header>
    <a href="http://localhost:4000/"><img src="https://cdn-icons-png.flaticon.com/512/1534/1534938.png" alt="" id = "logo"></a>
    <h1>THE SLACK OFF EMPLOYEE MANAGEMENT SYSTEM</h1>
    <nav>
        <ul>
            <li><a href="http://localhost:4000/message">NEW MESSAGE</a></li>
            <li><a href="http://localhost:4000/newEmployee">CREATE NEW</a></li>
            <li><a href="http://localhost:4000/">LIST ALL</a></li>
            <li><a href="http://localhost:4000/signIn">SIGN-IN</a></li>
        </ul>
    </nav>
</header>