<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&family=Raleway:wght@500&display=swap');

    body {
        margin: 0;
        padding: 0;
        font-family: "Montserrat";
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    header {
        padding-left: 50px;
        height: 10vh;
        background-color: rgb(50,50,50);
        color: white;
        font-family: "Montserrat";
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        box-shadow: 0px 0px 30px grey;
    }

    header h1 {
        font-size: 1.2em;
        transition: all 500ms ease-in-out;
    }

    header h1:hover {
        text-shadow: 0px 0px 30px rgb(244, 247, 198);
    }

    #logo {
        height: 60px;
        width: auto;
    }

    #logo:hover {
        animation: 3s spin cubic-bezier(0.23, 1, 0.320, 1);
    }

    @keyframes spin {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(720deg)}
}

    nav{
        margin-right: 30px;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    ul li {
        transition: all 200ms ease-in-out;
    }

    ul li:hover {
        transform: scale(105%);
        text-shadow: 0px 0px 2px white;
    }

    /* BODY CSS FOR INDEX */
    .mainContent {
        margin: 30px 10% 50px 10%;
    }

    .listEmployees {
        display: flex;
        flex: wrap;
        gap: 30px;
    }

    .block {

        height: 250px;
        width: 200px;
        border: solid rgb(240, 240, 240) 1px;
        border-radius: 20px;
        box-shadow: 0px 0px 20px grey;
        padding: 10px;
        transition: all 300ms ease-in-out;
        font-size: 0.95em;
        overflow: hidden;
        position: relative;
        color: black;
    }

    .block:hover {
        transform: scale(104%);
        border: solid grey 3px;
    }

    #createForm label, form input {
        display: block;
        margin: 9px;
    }

    #createForm input {
        width: 200px;
        border-radius: 20px;
        border: solid grey 2px;
        padding: 5px;
        color: rgb(65, 65, 65);
    }

    #createForm input:focus {
        border: solid rgb(78, 78, 158) 2px;
        box-shadow: 0px 0px 8px grey;
    }

    #createForm {
        margin-left: 15%;
    }

    button {
        height: auto;
        width: auto;
        background-color: rgb(54, 54, 54);
        color: rgb(252, 248, 248);
        border: solid rgb(54, 54, 54) 1px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }

    #buttons {
        margin-left: 10%;
    }

    button:hover {
        transform: scale(105%);
        box-shadow: 0px 0px 10px black;
        color: rgb(56, 56, 56);
        background-color: rgb(255, 255, 255);
    }

    #delete:hover {
        background-color: rgb(148, 13, 13);
        color: white;
    }

    #update:hover {
        background-color: green;
        color: white;
    }

    #message {
        height: 100px;
        width: 400px;
        color: black;
        border-radius: 10px;
        font-family: inherit;
        margin-left: 10px;
    }

    .day {
        display: flex;
        display: inline-block;
        gap: 30px;
    }

    #schedule {
        margin-left: 10%;
        margin-top: 15px;
    }

    #scheduleForm {
        margin: 30px;
       
    }

    #scheduleForm input[type=radio]{
        display: inline;
    }

    

</style>