<%- include('./partials/headHeader') %>
<h1 style = "text-align: center;">Changing the schedule for <%= name %></h1>

<body>
    <div class="mainContent">
        <div class="day">
            <form id = "scheduleForm" method="PUT" action="submit">
                <p> <strong>Monday Availability</strong></p>
                <input type="radio" id="first shift" name="first shift-second shift-third shift" value="first shift">
                <label for="first shift">first shift</label><br>
                <input type="radio" id="second shift" name="first shift-second shift-third shift" value="second shift">
                <label for="second shift">second shift</label><br>
                <input type="radio" id="third shift" name="first shift-second shift-third shift" value="third shift">
                <label for="third shift">third shift</label>
              
            </form>
        </div>
        
        <div class="day">

            <form id = "scheduleForm" method="PUT" action="submit">
                <p> <strong>Tuesday Availability</strong></p>
                <input type="radio" id="first shift" name="first shift-second shift-third shift" value="first shift">
                <label for="first shift">first shift</label><br>
                <input type="radio" id="second shift" name="first shift-second shift-third shift" value="second shift">
                <label for="second shift">second shift</label><br>
                <input type="radio" id="third shift" name="first shift-second shift-third shift" value="third shift">
                <label for="third shift">third shift</label>
            
            </form>
        </div>

        <div class="day">

            <form id = "scheduleForm" method="PUT" action="submit">
                <p> <strong>Wednesday Availability</strong></p>
                <input type="radio" id="first shift" name="first shift-second shift-third shift" value="first shift">
                <label for="first shift">first shift</label><br>
                <input type="radio" id="second shift" name="first shift-second shift-third shift" value="second shift">
                <label for="second shift">second shift</label><br>
                <input type="radio" id="third shift" name="first shift-second shift-third shift" value="third shift">
                <label for="third shift">third shift</label>
            
            </form>
        </div>

        <div class="day">

            <form id = "scheduleForm" method="PUT" action="submit">
                <p> <strong>Thursday Availability</strong></p>
                <input type="radio" id="first shift" name="first shift-second shift-third shift" value="first shift">
                <label for="first shift">first shift</label><br>
                <input type="radio" id="second shift" name="first shift-second shift-third shift" value="second shift">
                <label for="second shift">second shift</label><br>
                <input type="radio" id="third shift" name="first shift-second shift-third shift" value="third shift">
                <label for="third shift">third shift</label>
            
            </form>
        </div>

        <div class="day">

        <form id = "scheduleForm" method="PUT" action="submit">
            <p> <strong>Friday Availability</strong></p>
            <input type="radio" id="first shift" name="first shift-second shift-third shift" value="first shift">
            <label for="first shift">first shift</label><br>
            <input type="radio" id="second shift" name="first shift-second shift-third shift" value="second shift">
            <label for="second shift">second shift</label><br>
            <input type="radio" id="third shift" name="first shift-second shift-third shift" value="third shift">
            <label for="third shift">third shift</label>
          
        </form>
        </div>

    </div>
</body>